@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&display=swap');

body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(33, 45,33);
    background-image: url('https://wallpapercave.com/wp/wp3660106.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: rgb(242, 242, 242);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eeeeee;
    border-radius: 8px;
    font-family: 'Cousine', monospace;
}

.jogador, .vencedor {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Cousine', monospace;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: rgb(204, 0, 102);
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Cousine', monospace;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1 {
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 40px;
}